extends layout

block content
  h1 Foods

  //- table(style='width:100%')
  table#myTable  
    thead
      tr
        th Nombre
        th Dia
        th Ingredientes
        th Horario
        th Dieta

    tbody
      each food in foods
        tr
          td=food.name
          td=food.day
          td=food.ingredientes
          td=food.schedule
          td=(food.diet) ? `${food.diet.name}` : 'sin nombre'
          td
            a(href="/") Read
            a(href="/") Edit
            a(href="/") Delete