mixin menu(foods)
  each food in foods
      section.uk-container.uk-flex.uk-flex-column
        .uk-flex-column.uk-margin-top.uk-grid-match(class='uk-child-width-1-3', uk-grid='')
            h1.subtitle=food.day
            .uk-card.uk-card-hover.uk-card-body.card-style
              h3.uk-card-title=food.name
              p=food.diet
              p=food.schedule
              //- ul
              //-   each ingrediente in food.ingredientes
              //-     li=ingrediente
              ul

                each image in food.images
                   img(src=image, alt="")
                      //- img(src=image, alt="")
        